body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgba(243, 243, 243, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul li {
  display: block;
  padding: 0;
  margin: 0;
  align-items: center;
}


.menu {
  display: flex;
  align-items: center;
  margin-left: 114px;
  padding: 0;
  margin: 0;
  margin-right: 60px;
}

.menu li {
  margin-right: 30px;
  flex-wrap: nowrap;
  flex: 1;
}

.menu a {
  padding-bottom: 4px;
}

.menu a:hover {
  border-bottom: 1px solid black;
}

li {
  font-family: 'Montserrat';
}

.menu .language {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.menu .language img {
  margin-right: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.dropdown-menu li {
  padding: 10px;
  margin-right: 0;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333;
}

.dropdown-menu li a.selected {
  font-weight: bold;
}

header {
  position: static;
  z-index: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2%;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.product-name {
  font-family: 'Advent Pro', bold;
  font-size: 32px;
  font-weight: bold;
}

.head_rectangle {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 1;
  background-image: url(images/Rectangle\ tarif.png);
  background-repeat: repeat-x;
  background-position: top;
  background-size: contain;
}

.AdapFlex {
  display: flex;
  align-items: center;
}

.circle {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background-color: rgba(122, 248, 203, 0.3);
  filter: blur(130px);
  position: absolute;
  left: 35%;
  top: -30%;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

@media (max-width: 1020px) {
.dropdown-menu.open li{
  padding: 5px;
  font-size: 12px;
  width: auto;
  margin: 0;
}

.menu li {
  margin-right: 20px;
}

  .menu {
    margin-right: 20px;
  }

  .logo {
    height: auto;
  }

  .logo img{
    width: 40px;
    height: 40px;
  }

  .product-name {
    font-size: 26px;
  }
  
  header {
    padding: 10px;
  }
}

@media (max-width: 768px) {

  .dropdown-button {
    padding: 10px;
  }

  .menu {
    margin-right: 40px;
  }

  header {
    padding: 10px;
  }

  .menu li {
    font-size: 16px;
  }

.logo img {
  width: 25px;
  height: 25px;
}

  .product-name {
    font-size: 16px;
  }
}

@media (max-width: 610px) {
  .dropdown-menu.open li{
    font-size: 10px;
  }

  .menu li {
    font-size: 12px;
    margin-right: 10px;
  }

  .dropdown-button {
    padding: 5px 10px;
    font-size: 10px;
  }
}

@media (max-width:426px) {
  .logo {
    margin: 0;
  }

  .logo img {
    margin-right: 2px;
  }

.product-name {
  font-size: 12px;
}

.menu li {
  font-size: 10px;
  margin-right: 5px;
}

.dropdown-button {
  padding: 4px 8px;
  font-size: 8px;
}

.dropdown-menu.open li{
  font-size: 8px;
}

  header {
    padding: 2%;
    padding-left: 5px;
  }
}

/*  оформление шапки страницы(сверху) */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  margin-right: 2%;
  font-family: 'Montserrat';
}

@media (max-width: 800px) {
  .output {
    font-size: 10px;
    margin-left: 10%;
  }
}

@media (max-width: 500px) {
  .output {
    font-size: 9px;
  }
}

.background_circle1 {
  width: 50%;
  height: 30%;
  border-radius: 50%;
  background-color: rgba(255, 242, 208, 1);
  filter: blur(100px);
  position: absolute;
  right: 0%;
  top: 60%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.background_circle2 {
  width: 30%;
  height: 140%;
  border-radius: 50%;
  background-color: rgba(168, 255, 118, 0.3);
  filter: blur(100px);
  position: absolute;
  left: 20%;
  bottom: -150%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

/* background и footer (сверху) */

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 50px;
}

.cap {
  width: 52%;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}

@media (max-width: 1250px) {
  .cap {
    width: 60%;
    font-size: 42px;
  }
}

@media (max-width: 1100px) {
  .cap {
    width: 70%;
    font-size: 40px;
  }
}

@media (max-width: 930px) {
  .cap {
    font-size: 36px;
  }
}

@media (max-width: 810px) {
  
  .head_rectangle {
    background-image: url(images/Rectangle_tarif_phone.png);
    height: 270px;
  }
}

@media (max-width: 600px){  
  .cap {
    width: 75%;
    font-size: 30px;
  }

  .head_rectangle {
    height: 220px;
  }
}

@media (max-width: 510px) {
.info {
  margin-bottom: 25px;
}
.cap {
  width: 80%;
  font-size: 24px;
}

.head_rectangle {
  height: 190px;
}
}

@media (max-width:400px) {
  .cap{
    width: 905;
    font-size: 20px;
  }

  .head_rectangle {
    height: 150px;
  }
}
  
.step1 {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.step {
  margin-top: 3%;
  font-family: 'Montserrat';
  font-size: 18px;
  color: rgba(36, 203, 97, 1);
}

p {
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: 'Montserrat';
  font-size: 24px;
}

.tarifs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 50px;
  z-index: 1;
}

.tarif1 {
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.tarif2 {
  background-color: white;
  border-radius: 6px;
  border-color: rgba(36, 203, 97, 1);
  border-width: 4px;
  border-style: solid;
  height: 480px;
  margin: 2%;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
}

.tarif3 {
  background-color: white;
  border-radius: 6px;
  display: flex;
  width: 30%;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
}

.monthes {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30%;
}

.discount {
  font-family: 'Montserrat';
  text-decoration: line-through;
  color: rgba(155, 155, 155, 1);
  font-size: 23px;
  margin-bottom: 0;
}

.cost {
  font-family: 'Montserrat';
  ;
  font-size: 52px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.in_month {
  font-family: 'Montserrat';
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 40%;
}

.garant {
  font-family: 'Montserrat';
  font-size: 12px;
  color: rgba(155, 155, 155, 1);
  margin-top: 15%;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  padding: 10px 20px;
  background-color: rgba(23, 201, 169, 1);
  border: none;
  border-radius: 72px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.custom-button:hover {
  background-color: rgba(23, 201, 169, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1050px) {
  .step1 {
    margin-left: 10%;
    width: 80%;
  }

  .tarif2 {
    height: 420px;
    width: 35%;
  }
}

@media (max-width: 830px) {
  .step1 {
    margin-left: 7.5%;
    width: 85%;
  }

  .tarif2 {
    height: 400px;
  }

  .cost{
    font-size: 42px;
  }

  p{
    font-size: 20px;
  }
}

@media (max-width: 670px) {
  .garant {
    font-size: 10px;
  }

  .tarif2 {
    height: 360px;
  }
}

@media (max-width: 570px) {

  .garant {
    font-size: 8px;
  }

  .step1 {
    width: 90%;
    margin-left: 5%;
  }

  .tarif2 {
    height: 300px;
  }

  .discount {
    font-size: 20px;
  }

  .custom-button {
    padding: 5px 10px;
  }

  .cost {
    font-size: 36px;
  }
}

@media (max-width: 490px) {
  .step1 {
    width: 98%;
    margin-left: 1%;
  }
}

.other {
  display: flex;
  position: relative;
  background-image: url(images/Group\ 22.png);
  background-size: contain;
  flex-direction: column;
  z-index: 1;
  width: 100%;
}

.form-group {
  align-items: center;
  justify-self: center;
}

.form-group input {
  width: 50%;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: rgba(248, 248, 248, 1);
  margin-bottom: 24px;
  border-radius: 7px;
}

.step2 {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.warning {
  font-family: 'Montserrat';
  font-size: 12px;
  color: rgba(155, 155, 155, 1);
  margin-bottom: 2%;
}

.step3 {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.protect {
  font-family: 'Montserrat';
  font-size: 12px;
  justify-self: center;
  display: flex;
  color: rgba(155, 155, 155, 1);
  margin-bottom: 2%;
}

.pay {
  display: flex;
}

.way_pay {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.way_pay div {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(243, 243, 243, 1);
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  height: 10%;
  font-family: 'Montserrat';
  font-size: 16px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-right: 2%;
  padding-left: 2%;
}

.way_pay div img {
  margin-left: auto;
}

.info_pay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(226, 226, 226, 1);
  border-radius: 7px;
  width: 70%;
  margin-bottom: 5%;
}

.classic {
  margin: 4%;
  width: 90%;
}

.info_step {
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: bold;
}

.total {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.total p {
  font-family: 'Montserrat';
  font-size: 18px;
}

.dop1 {
  margin-left: auto;
}

.itog {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.itog p {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: bold;
}

.img {
  align-self: center;
}

.itog div {
  margin-left: auto;
}

.eco {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 100;
  color: rgba(46, 204, 113, 1);
}

.exten {
  background-color: rgba(249, 249, 249, 1);
  width: 100%;
}

.exten p {
  font-family: 'Montserrat';
  font-size: 12px;
  margin: 2%;
  color: rgba(155, 155, 155, 1);
}