body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(243, 243, 243, 1);
    z-index: -1;
  }
  
  a{
   text-decoration: none;
   color: inherit;
  }
  
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  
  ul{
    list-style-type: none;
  }
  
  ul li{
    display: block;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  
  
  .menu{
    display: flex;
    align-items :center;
      margin-left: 114px;
    padding: 0;
    margin: 0;
    margin-right: 100px;
  }
  
  .menu li{
    margin-right: 40px;
    flex-wrap: nowrap;
    flex: 1;
  }
  
  .menu li:last-child{
    margin-right: 45px;
  }
  
  .menu a{
    padding-bottom: 4px;
  }
  
  .menu a:hover{
    border-bottom: 1px solid black;
  }
  
  li{
    font-family: 'Montserrat';
  }
  
  .menu .language {
    display: flex;
    align-items: center;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .menu .language img {
    margin-right: 5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  }
  
  .dropdown-menu.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-menu li a.selected {
    font-weight: bold;
  }
  
  .head {
    position:static;
    z-index: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 5%;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .product-name {
    font-family: 'Advent Pro', bold;
    font-size: 32px;
    font-weight: bold;
  }
  
  .head_rectangle {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 1;
    background-image: url(images/Rectangle\ tarif.png);
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;
  }
  
  .AdapFlex{
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 65%;
    height: 65%;
    border-radius: 50%;
    background-color: rgba(122, 248, 203, 0.3);
    filter: blur(130px);
    position: absolute; 
    left: 35%;
    top: -30%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1; 
  }
  
  /*  оформление шапки страницы(сверху) */

  .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    margin-right: 10%;
    font-family: 'Montserrat';
  }
  
  .background_circle1{
      width: 50%;
      height: 30%;
      border-radius: 50%;
      background-color: rgba(255, 242, 208, 1);
      filter: blur(100px);
      position: absolute; 
      right: -20%;
      top: 60%;
      overflow: hidden;
      pointer-events: none;
      z-index: 0; 
  }
  
  .background_circle2{
    width: 30%;
    height: 140%;
    border-radius: 50%;
    background-color: rgba(168, 255, 118, 0.3);
    filter: blur(100px);
    position: absolute; 
    left: 20%;
    bottom: -150%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0; 
  }

  /* background и footer (сверху) */

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
  }
  
  .cap {
    width: 52%;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
  }

.step1{
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.step {
    margin-top: 3%;
    font-family: 'Montserrat';
    font-size: 18px;
    color: rgba(36, 203, 97, 1);
}

p{
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: 'Montserrat';
    font-size: 24px;
}

.tarifs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
    z-index: 1;
}

.tarif1{
    background-color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.tarif2{
    background-color: white;
    border-radius: 6px;
    border-color:rgba(36, 203, 97, 1) ;
    border-width: 4px;
    border-style: solid;
    height: 480px;
    margin: 2%;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

.tarif3{
    background-color: white;
    border-radius: 6px;
    display: flex;
    width: 30%;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

.monthes {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30%;
}

.discount {
    font-family: 'Montserrat';
    text-decoration: line-through;
    color: rgba(155, 155, 155, 1);
    font-size: 23px;
    margin-bottom: 0;
}

.cost{
    font-family: 'Montserrat';;
    font-size: 52px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.in_month{
    font-family: 'Open-Sans';
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 40%;
}

.garant {
    font-family: 'Open-Sans';
    font-size: 12px;
    color: rgba(155, 155, 155, 1);
    margin-top: 15%;
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    padding: 10px 20px;
    background-color: rgba(23, 201, 169, 1);
    border: none;
    border-radius: 72px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .custom-button:hover {
    background-color: rgba(23, 201, 169, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .other{
    display: flex;
    position: relative;
    background-image: url(images/Group\ 22.png);
    background-size: contain;
    flex-direction: column;
    z-index: 1;
    width: 100%;
  }

  .form-group {
    align-items: center;
    justify-self: center;
  }
  
  .form-group input {
    width: 50%;
    padding: 16px;
    border: 1px solid #ccc;
    background-color: rgba(248, 248, 248, 1);
    margin-bottom: 24px;
    border-radius: 7px;
  }

  .step2{
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .warning{
    font-family: 'Open-Sans';
    font-size: 12px;
    color:rgba(155, 155, 155, 1);
    margin-bottom: 2%;
  }

  .step3 {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .protect {
    font-family: 'Open-Sans';
    font-size: 12px;
    justify-self: center;
    display: flex;
    color:rgba(155, 155, 155, 1);
    margin-bottom: 2%;
  }

  .pay{
    display: flex;
  }

  .way_pay{
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .way_pay div{
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(243, 243, 243, 1);
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
    height: 10%;
    font-family: 'Montserrat';
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
  }

  .way_pay div img{
    margin-left: auto;
  }

  .info_pay{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border: 1px solid rgba(226, 226, 226, 1);
    border-radius: 7px;
    width:70%;
    margin-bottom: 5%;
  }

  .classic {
    margin: 4%;
    width: 90%;
}

  .info_step{
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: bold;
  }

  .total {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .total p{
    font-family: 'Montserrat';
    font-size: 18px;
  }

  .dop1 {
    margin-left: auto;
  }

  .itog {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .itog p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
  }

  .img {
    align-self: center;
  }

  .itog div{
    margin-left: auto;
  }

  .eco {
    font-family: 'Open-Sans';
    font-size: 12px;
    font-weight: 100;
    color: rgba(46, 204, 113, 1);
  }

  .exten {
    background-color: rgba(249, 249, 249, 1);
    width: 100%;
  }

  .exten p{
    font-family: 'Open-Sans';
    font-size: 12px;
    margin: 2%;
    color: rgba(155, 155, 155, 1);
  }